{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{% static 'collapse.js'%}"></script>
<link rel="stylesheet" href="{% static 'collapse.css'%}" media="screen">
<!------ Include the above in your HEAD tag ---------->
		<div class="container">
			<div class="row">
				<div class="about__text col-xs-12 col-md-6">
				    <h2 class="text__header">A Recommendation System For Project Risk Management</h2>
				</div>
				
			</div>
			
		</div>
		<div class="container">
			<div class="row">
				<div class="about__text col-xs-12 col-md-6">
					
					<br>
					<p class="text__par">Please insert your request below to recieve related informations and recommendations from PMBOK</p>
					 
					</form>

				   <form action="{% url 'add' %}" method="POST" role="form">
						{% csrf_token %}
						<div class="form-group">
							<div class="input-group">
							  {{ form.text }}
							  <span class="input-group-btn">
								  <button type="submit" class="btn btn-primary" id="add-btn">Submit</button>
							  </span>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>

{% if processes %} 

		<div class="container">

		    <div class="row">
				<div class="col-md-4">
					<h4>Processes </h4>
					{% for p in processes %}
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">{{p.Concept}}</h3>
							<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
						</div>
						<div class="panel-body"><h5 style="color: rgb(0,102,204);"><b>Description :</b></h5>
						{{p.Definition}}</div>
					</div>
					{% endfor %}

				</div>
					
			</div>
				
		</div>
{% endif %}

{% if df11 %} 

		<div class="container">

		    <div class="row">
				<div class="col-md-4">
					<h4>Process </h4>
					{% for p in df11 %}
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">{{p.Concept}}</h3>
							<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
						</div>
						<div class="panel-body"><h5 style="color: rgb(0,102,204);"><b>Description :</b></h5>
						{{p.Definition}}</div>
					</div>
					{% endfor %}

				</div>
			{% if lsynonyms %}	
			<div class="col-md-4">
				
						<h4>List of synonms of the process</h4>

					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Synonyms</h3>
							<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
						</div>
						
						<div class="panel-body">
							<ul class="list-group">
							{% for s in lsynonyms %}
						
						  <li class="list-group-item">{{s.Synonyms}}</li>

							{% endfor %}
							</ul>

						</div>
				
					</div>

				</div>
				{% endif  %}
			</div>
				
		</div>
{% endif %}

{% if message %} 
<div class="container"><h2 style="color: rgb(204,0,0);">{{message}}</h2></div>
{% endif %} 



<div class="container">
	
    <div class="row">
    	{% if df22 %}
		<div class="col-md-4"><h4>Inputs</h4>
			{% for inp in df22 %}
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">{{inp.Concept}}</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>

					<div class="panel-body"><h5 style="color:rgb(204,0,102);"><b>Description :</b></h5>{{inp.Definition}}
						{% if inp.DataProperty != 'None' %}
						<br><h5 style="color: rgb(204,0,102);"><b>Other informations :</b></h5>
						See the following section

						<button type="button" class="btn btn-light" ><a href="{% url 'viewpdf' inp.DataProperty %}  " target ="_blank"> {{inp.DataProperty}}></a></button>
					
						{% endif %}
					</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}

		
		{% if df33 %}
		<div class="col-md-4">
		
		
		
			<h4>Techniques and Tools</h4>
			{% for tt in df33 %} 
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">{{tt.Concept}}</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>
			<div class="panel-body"><h5 style="color: rgb(204,0,102);"><b>Description :</b></h5>{{tt.Definition}}</div>
			</div>
	
			{% endfor %}
		</div>
		{% endif %}

		{% if df44 %}
		<div class="col-md-4">
			<h4>Outputs</h4>
			{% for out in df44 %} 
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">{{out.Concept}}</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>
			<div class="panel-body"><h5 style="color: rgb(204,0,102);"><b>Description :</b></h5>
				{{out.Definition}}</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}

	</div>	
</div>

